.container__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-image: url("/header.png");
    //background-color: rebeccapurple;
    width: 100%;
}
.title1 h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
}

.container__projects {
    padding: 0 30px;
}
.enlaces{
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    text-decoration: none;
    padding: 17px;
    color: white;
}
.iconmenu{
    margin-right: 4px;
}
.enlaces:hover{
    
    color: white;
}
.enlaces:focus{
    text-decoration-line: discrete;
    color: white;
}
.title1 {
    font-size: 23px;
}
.projects__nothcamp {
    margin-top: 10px;
    margin-bottom: 100px;
}
.dropdown-menu .divider{
    margin: 0;
}

.container__links {
    display: flex;
    justify-content: flex-end;
    margin-right: 90px;
    padding-left: 20px;
}
.p1{
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
    color: white;
}
.logotype{
    display: flex;
    align-items: center;
    .logo{
        &__image{
            width: 100px;
            &2{
                display: none;
                width: 100px; 
            }
        }
    }
        &:hover{
            .logo__image{
                display: none;
           }
           .logo__image2{
               display: block;
           } 
        }
}


.container__links__movile{
    display: none;
}
.click{
    padding: 0;
}
.btn-primary{
    display: none;
}
.dropdown-menu{
    padding: 0;
    display: none;
}
@media screen and (min-width:1024px) and (max-width: 1600px){
    .dropdown.open{
        display: none;
   }
  
}

@media screen and (min-width:768px)and (max-width: 1023px ){//tamaño tablet----------------------------------------------
    .dropdown{
        display: none;
    }
    .container__links {
        margin-right: 0;
        margin-top: 0;
        padding-left: 0;
    }
    
    .p1{
        padding: 0 10px;
    }
    .container__projects {
        padding: 0 28px;
    }
    .link{
        margin-top: 17px;
    }
    .subtitle1{
        margin-top: 20px;
    }
    .subtitle2{
        margin-top: 20px;
    }
    .btn-primary{
        display: block;
    }
    .enlaces{
        font-size: 18px;

      }
      .dropdown-menu {
          display: none;
      }
     .dropdown.open{
         display: none;
     }
}
@media screen and (max-width: 768px){//tamaño movil

    .btn-primary{
        background-color: white;
        color: rebeccapurple;
        border: none;
        display: block;
    }
    .dropdown-menu {
        right: 0;
        min-width: 0;
        left: unset;
        
    }
  
    .logo__image {
        width: 47px;
    }

    .container__links{
        display: none;
    }
    .p1{
        font-family: 'Roboto Slab', sans-serif;
        font-weight: bold;
        margin-left: 10px;
        font-size: 22px;
    }
    .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
        color: white;
        background-color: rgb(66, 4, 82);
    }
    .enlaces{
        background-color:white;
        color: black;
        font-size: 18px;
    }
    .enlaces:hover{
        color: white;
    }
    .btn-primary.active:hover{
        background-color: rebeccapurple;
    }
    .dropdown-menu>li>a:hover{
        background-color: rebeccapurple;
        color: white;
    }
  .menu__option:hover{
      background-color: rebeccapurple;
  }
  .btn-primary:hover {
      color: white;
      background-color: rebeccapurple;
  }
}